<!DOCTYPE html>
<html>
<head>
    <title>Upload Dataset for EDA</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload Dataset for EDA</h1>
        <div class="form-container">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv">
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
</body>
</html>